#ver .debug::before {
    content: 'debug: '
}

#ver .name::before {
    content: 'name: '
}

#ver .ver::before {
    content: 'version: '
}

.curId::before {
    content: 'queue rid: ';
}

.curId .logId::before {
    content: 'log-id: ';
}

.curId .blockId::before {
    content: 'block-id: ';
}

.header:hover .curId::after {
    content: 'refresh'
}

.lastHeadersN-fetch .controls::before {
    content: 'last N headers: '
}

.insert-plain::before {
    content: 'Append plain'
}

.insert-plain .inserted-id::before {
    content: ' inserted record id: '
}

.log-files .controls::before {
    content: 'Log files'
}