#ver {
    position: fixed;
    right: 0;
    font-family: sans-serif;
    font-size: 0.7em;
    margin-right: 2mm;
    background-color: #ddd;
    padding-left: 2mm;
    padding-top: 1mm;
    padding-bottom: 1mm;
    padding-right: 1mm;
}

#ver div::before {
    display: inline-block;
    width: 12mm;
}