#ver {
    float: right;
    font-size: 0.7em;
    margin-left: 2mm;
    margin-right: 2mm;
    background-color: #b4b4b4;
    color: #fff;
    padding-left: 1mm;
    padding-right: 1mm;
}

#ver div::before {
    display: inline-block;
    width: 12mm;
}

#ver .detail {
    display: none;
}

#ver:hover .detail {
    display: block;
}

body {
    margin: 0;
    font-family: sans-serif;
}

#app .header {
    background-color: #eee;
    position: relative;
    padding-top:2mm;
    padding-bottom:0mm;
    padding-left: 2mm;

    margin-bottom: 2mm;

    border-bottom-color: #838f9c;
    border-bottom-width: 1mm;
    border-bottom-style: solid;

    cursor: pointer;
}

#app .header .tab {
    display: inline-block;
    padding-left: 2mm;
    padding-right: 2mm;

    border-top-right-radius: 2mm;
    border-top-left-radius: 2mm;
    border-left-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-left-color: #afafaf;
    border-top-color: #afafaf;
    border-right-color: #afafaf;
}
#app .header .tab.active {
    background-color: #838f9c;
    color: #fff;
    border-top-right-radius: 2mm;
    border-top-left-radius: 2mm;
    border-left-color: #838f9c;
    border-top-color: #838f9c;
    border-right-color: #838f9c;
}


#app .header .curId {
    font-size: 0.7em;    
    cursor: pointer;
    float: right;
}

#app .header .curId .logId,
#app .header .curId .blockId {
    display: inline-block;
    margin-left: 1mm;
}


#app .header .curId::before,
#app .header .curId .logId::before,
#app .header .curId .blockId::before {
    color: #838383;
}

.header {
    position: relative;
}

.header .curId:hover::after {
    position: absolute;
    display: block;
    background-color: #ffe961;
    padding: 1mm;
}

.lastHeadersN {
    display: flex;
    flex-wrap: wrap;
    gap: 3mm;
}

.lastHeadersN .log-header {
    width: 70mm;
    background-color: #eee;
    padding: 1mm;
}

.lastHeadersN .file {
    font-size: 0.7em;    
}

.lastHeadersN .option {
    font-size: 0.7em;    
}

.lastHeadersN .options {
    margin-top: 2mm; 
}

.lastHeadersN-fetch {
    margin-left: 2mm;
    margin-right: 2mm;
}

.lastHeadersN-fetch .controls {
    margin-top: 3mm;
    margin-bottom: 1mm;
}

.lastHeadersN-fetch .controls input {
    width: 30mm;
    margin-right: 2mm;
}

.insert-plain {
    margin-left: 2mm;
    margin-right: 2mm;
    margin-bottom: 2mm;
}

.insert-plain textarea {
    min-width: 30%;
    min-height: 30mm;
    width: auto;
}

.insert-plain::before {
    display: block;
    margin-bottom: 1mm;
    margin-top: 3mm;
}

.insert-plain .inserted-id::before {
    font-size: 0.7em;
}

.blockId {
    color: #0021ff;
}

.logId {
    color: #b33000;
}

.log-files .controls::before {
    display: block;
}

.log-files .controls {
    margin-top: 3mm;
    margin-bottom: 1mm;
}

.log-files {
    padding-left: 2mm;
    padding-right: 2mm;
}

.log-files .log-file-info {
    display: flex;
    gap: 3mm;
}

.log-files .logId {
/*     width: 13mm; */
    flex-shrink: 2;
}

.log-files .fileName {
/*     min-width: 100mm; */
/*     max-width: 80%; */
    flex-grow: 4;
}

.log-files .items_count,
.log-files .bytes_count {
/*     flex-grow: 1; */
}

.log-files .items_count::before,
.log-files .bytes_count::before {
    font-size: 0.7em;
}

.log-files .items_count {
    width: 30mm;
    text-align: right;
}

.log-files .bytes_count {
    width: 30mm;
    text-align: right;
}

.log-files .controls button {
    margin-right: 1mm;
}

.push-other {
    padding-left: 2mm;
    padding-right: 2mm;
}

.push-other .push-record input {
    margin-right: 2mm;
    width: 40mm
}

.push-other .roll-up > button {
    margin-right: 2mm;
}